header {
    text-align: center;
    padding: 30px;
    font-family: "Copperplate Gothic", monospace;
    font-size: 18pt;
}

nav ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 5px;
    overflow: hidden;
    background-color: #A18484;
    margin-bottom:0px;
    
}

nav li {
    float: left;
    text-align: center;
}

nav li a, .dropbtm {
    display: inline-block;
    color: #ffffff;
    font-family: "Verdana", cursive;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
}

nav li a:hover, .dropdown:hover .dropbtm {
    background-color: #CCC3C4;
}

nav li.dropdown {
    display: inline-block;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    background-color: #A18484;
    min-width: 160px;
}

nav .dropdown-content a {
    color: #ffffff;
    font-family: "Verdana", cursive;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

nav .dropdown-content a:hover {background-color: #C3B7B5}

nav .dropdown:hover .dropdown-content {
    display: block;
}

.floatleft{
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 10px;
    
}

.floatright{
    float:right;
    margin-right: 20px;
    margin-top: 30px;
    padding:0;
}

#location {
    float: right;
    width: 300px;
}

.hours{
    float: left;
    width: 50%;
    margin-left: 20px;
    margin-top: 30px;
}

.center{
    margin-top: 5%;
    padding-right: 30%;
}

.logo{
    width: 200px;
    float: left;
}

body{
    background-image: url(rsz_002.jpg);
    margin: 0px;
    padding: 0px;
    font-family: "Tahoma", "Geneva", sans-serif; 
}

footer {
    background-color: #A18484;
    padding: 20px;
    margin-top: 11%;
    text-align: center;
}

.image {
    margin-left: 30%;
    height:350px;
    margin-top:10px;
}

marquee {
    background-color: #C3B7B5;
    padding: 10px;
    margin-top:0px;
}
.calendar{
    margin-top: 5%;
}

.h2{
    margin-left: 30px;
}

#a1 {
      width: 100%;
      display: none;
    }


#a2 {
      width: 100%;
      display: none;
    }


#a3 {
      width: 100%;
      display: none;
    }

#g1 {
      width: 200px;
      height: 380px;
      display: none;
    float: left;
    }


#g2 {
      width: 200px;
      height: 380px;
      display: none;
    float:left;
    }


#g3 {
      width: 200px;
      height: 380px;
      display: none;
        float: left;
    }

#h1 {
      width: 200px;
      height: 380px;
      display: none;
    float: left;
    }


#h2 {
      width: 200px;
      height: 380px;
      display: none;
    float: left;
    }


#h3 {
      width: 200px;
      height: 380px;
      display: none;
    float: left;
    }

#r1 {
      width: 200px;
      height: 380px;
      display: none;
    float: left;
    }


#r2 {
      width: 200px;
      height: 380px;
      display: none;
    float: left;
    }


#r3 {
      width: 200px;
      height: 380px;
      display: none;
    float: left;
    }
.africa {
    margin-top: 20%;
}

#checkout {
    display: none;
}
aside {
    float: left;
    margin-left: 10px;
}
.image2 {
    height:100px;
    margin-top:20px;
    margin-left: 10px;
    
}
.p {
    float: right;
    margin-left: 10px;
    margin-top: 80px;
}
#content {
    float: right;
    margin-right: 10%;
}
.cart{
    font-family: "Tahoma", "Geneva", sans-serif;
    margin-left: 50px;
}
.cart1{
    font-family: "Tahoma", "Geneva", sans-serif;
    margin-left: 100px;
}
.catalogue {
    margin-top: 48%;
}
.giraffe{
    float: right;
    margin-right:5%;
    margin-top: 10%;
    
}
.button {
    margin-top: 15%;
    margin-left: 70%;
}

.map {
    padding: 20px;
    margin-top: 10px;
    margin-left:15%;
}
.b2{
   margin-left: 50px;
    margin-top: 20px;
}

#start {
      margin-left: 20px;
    margin-top: 20px;
    }

#q1 {
      width: 100%;
      display: none;
    margin-left: 20px; 
    margin-top: 20px;
    }


#q2 {
      width: 100%;
      display: none;
    margin-left: 20px; 
    margin-top: 20px;
    }


#q3 {
      width: 100%;
      display: none;
    margin-left: 20px;
    margin-top: 20px;
    }

#q4 {
      width: 100%;
      display: none;
    margin-left: 20px;
    margin-top: 20px;
    }


#q5 {
      width: 100%;
      display: none;
    margin-left: 20px; 
    margin-top: 20px;
    }


#q6 {
      width: 100%;
      display: none;
    margin-left: 20px; 
    margin-top: 20px;
    }

#q7 {
      width: 100%;
      display: none;
    margin-left: 20px; 
    margin-top: 20px;
    }
.image3 {
    height: 350px;
    margin-top: 10px;
    margin-left: 30%;
    float: left;
}
.hippo {
    float: right;
    margin-right:20px;
    margin-top: 10%;
}
.goat {
    float: right;
    margin-right:20px;
    margin-top: 10%;
}
button {
    border-radius: 10px;
    background-color: #D4C2BB;
    padding: 10px;
}
.register{
    margin-top: 10%;
}
.h1{
    margin-top: 10%;
    margin-left: 45%;
}